body{
background-image:url('bg.jpg');
background-repeat:no-repeat;
background-size:cover;
border-style:double;
}

h1{
background-color:powderblue;
color:black;
text-shadow:blue;
opacity:65%;
border-style:double;
width:1230px;
height:40px;


}
button{
background-color:transparent;
border:none;
float:left;
}
nav:hover{transform:scale(1.01);}
h2{

background-color:powderblue;
color:black;
text-shadow:blue;
opacity:65%;
border-style:double;
width:1235px;
height:30px;
}
h3{
background-color:powderblue;
color:black;
text-shadow:blue;
opacity:65%;
}